* {
    box-sizing: border-box;
}

table#super {
    font-size: 18px; 
         color: rgb(255, 255, 255);
}

button {
    font-size: 15px;
            width: 170px;
            height: 60px;
            padding: 20px;
            margin: 10px;
            border: 0px;
            border-radius: 30px;
            background: #f1bde8;
            color: rgb(255, 255, 255);
}

button:hover {
    font-size: 15px;
            width: 170px;
            height: 60px;
            padding: 20px;
            margin: 10px;
            border: 0px;
            border-radius: 30px;
            background: #f183d6;
            color: rgb(255, 255, 255);
}

button:focus {
    font-size: 15px;
            width: 170px;
            height: 60px;
            padding: 20px;
            margin: 10px;
            border: 0px;
            border-radius: 30px;
            background: #fd99df;
            color: rgb(255, 255, 255);
}